<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 페이지입니다</title>
</head>
<body>
    


<div>{{ user }} 님의 페이지이고 마지막 로그인은 {{ user.last_login }}
<!--  {{ user }}안에 담겨 있는것이 views.py에 49번째줄에 있는 'user' : user이부분에서 키값이라 해당되는 'user'이것이다  --></div>
    
 <div>지금 로그인한 사용자는 {{ request.user }} 입니다</div>


    {% if user == request.user %}
    <div> 내 프로필 페이지 </div>
    <button>프로필 편집 버튼</button>
    {% endif %}
</body>
</html>